server {
    listen ${NGINX_PORT};

    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    error_page 500 502 503 504 /50x.html;
    error_page 400 401 403 404 /40x.html;

    charset utf-8;

    location / {
        include /etc/nginx/cors.conf;
        try_files $uri $uri/ =404;
    }

}
